body, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "GmarketSansTTF";
  src: url(../fonts/GmarketSansTTFMedium.ttf);
}
.root_daum_roughmap {
  width: 100% !important;
}

header {
  width: 100%;
  position: absolute;
  color: white;
  z-index: 10;
  margin-top: 10px;
}
header .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 13%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
}
header .head .head1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  margin-top: 5px;
}
header .head nav {
  width: 63%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head nav a {
  color: white;
}
header .head div > p {
  display: flex;
  align-items: center;
}
header .head div > p::after {
  content: "arrow_drop_down";
  font-family: material symbols outlined;
  font-size: 50px;
  transform: translate(-5px);
}
header .head div div {
  display: none;
}
header .head div div span {
  display: block;
  border: 1px solid white;
  width: 32px;
  height: 3px;
  background-color: white;
  margin: 7px;
}

main {
  font-family: "Noto Sans KR", sans-serif;
}
main .s01 {
  background-color: #ea504f;
  width: 100%;
  height: 520px;
}
main .s01 div {
  padding-top: 250px;
  text-align: center;
  color: white;
}
main .s01 div > p:nth-of-type(1) {
  font-size: 24px;
  font-weight: 700;
}
main .s01 div > p:nth-of-type(2) {
  font-family: "GmarketSansTTF";
  font-size: 45px;
  margin-top: 20px;
  font-weight: 800;
}
main .s01 > P:nth-of-type(1) {
  position: absolute;
  top: 24%;
  left: 12%;
}
main .s01 > P:nth-of-type(1) > img {
  width: 16vw;
}
main .s01 > P:nth-of-type(2) {
  position: absolute;
  top: 23%;
  right: 14%;
}
main .s01 > P:nth-of-type(2) > img {
  width: 14vw;
}
main .s01 > P:nth-of-type(3) {
  position: absolute;
  top: 22%;
  right: 33%;
}
main .s01 > P:nth-of-type(3) > img {
  width: 3vw;
}
main .s01 > P:nth-of-type(4) {
  position: absolute;
  top: 24%;
  left: 35%;
}
main .s01 > P:nth-of-type(4) > img {
  width: 1.4vw;
}
main .s01 .wave1 {
  background: url(../img/index-img/w_wave.png);
  height: 160px;
  width: 100%;
  position: absolute;
  top: 47%;
  animation: wave1 20s infinite;
  animation-timing-function: linear;
}
@keyframes wave1 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1920px 0;
  }
}
main .s02 p {
  padding-top: 8%;
  padding-bottom: 2%;
  text-align: center;
  font-family: "GmarketSansTTF";
  font-size: 32px;
  margin-top: 30px;
}
main .s02 .maple {
  width: 70%;
  height: 450px;
  margin: 0 auto;
  margin-bottom: 35px;
}
main .s03 {
  position: relative;
}
main .s03 h2 {
  font-family: "GmarketSansTTF";
  font-size: 30px;
  padding-left: 17%;
  margin: 30px;
}
main .s03 > ul {
  width: 90%;
  margin: 0 5%;
}
main .s03 > ul li {
  display: flex;
  align-items: center;
  padding: 20px;
}
main .s03 > ul #li_1 {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}
main .s03 > ul #li_1 figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  margin: 0;
}
main .s03 > ul #li_1 figure img {
  padding-bottom: 8px;
}
main .s03 > ul #li_1 figure figcaption {
  font-size: 22px;
}
main .s03 > ul #li_1 div ul {
  margin: 0px 0px;
  font-size: 18px;
}
main .s03 > ul #li_1 div ul li {
  padding: 10px;
}
main .s03 > ul #li_1 div ul > li:nth-of-type(1) p span:nth-of-type(1) {
  background-color: #273f94;
  border-radius: 50%;
  color: white;
  display: inline-block;
  width: 1.666em;
  height: 1.666em;
  text-align: center;
  margin-right: 10px;
  font-weight: 500;
}
main .s03 > ul #li_1 div ul > li:nth-of-type(1) p span:nth-of-type(2) {
  color: #273f94;
  font-weight: 600;
}
main .s03 > ul #li_1 div ul > li:nth-of-type(2) span:nth-of-type(1) {
  background-color: #219de1;
  border-radius: 50%;
  color: white;
  display: inline-block;
  width: 1.666em;
  height: 1.666em;
  text-align: center;
  margin-right: 10px;
  font-weight: 500;
}
main .s03 > ul #li_1 div ul > li:nth-of-type(2) span:nth-of-type(2) {
  color: #219de1;
  font-weight: 600;
}
main .s03 > ul #li_1 div ul > li:nth-of-type(3) span:nth-of-type(1) {
  background-color: #cfa52c;
  border-radius: 50%;
  color: white;
  display: inline-block;
  width: 1.666em;
  height: 1.666em;
  text-align: center;
  margin-right: 10px;
  font-weight: 500;
}
main .s03 > ul #li_1 div ul > li:nth-of-type(3) span:nth-of-type(2) {
  color: #cfa52c;
  font-weight: 600;
}
main .s03 > ul #li_2 figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 145.36px;
  margin: 0;
}
main .s03 > ul #li_2 figure img {
  padding-bottom: 8px;
}
main .s03 > ul #li_2 figure figcaption {
  font-size: 22px;
}
main .s03 > ul #li_2 div ul {
  margin-left: 0px;
  font-size: 18px;
}
main .s03 > ul #li_2 div ul li {
  padding: 8px;
}
main .s03 > ul #li_2 div ul > li:nth-of-type(1) {
  font-weight: 700;
}
main .s03 > ul #li_2 div ul > li:nth-of-type(2) span {
  background-color: #273f94;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 6em;
  height: 1.8em;
  margin-right: 10px;
}
main .s03 > ul #li_2 div ul > li:nth-of-type(3) span {
  background-color: #25b573;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 6em;
  height: 1.8em;
  margin-right: 10px;
}
main .s03 > p {
  font-family: "GmarketSansTTF";
  font-size: 22px;
  text-align: center;
  color: #ff0000;
  margin-top: 30px;
  margin-bottom: 200px;
}
main .s03 .wave2 {
  background: url(../img/index-img/g_wave.png);
  height: 160px;
  width: 100%;
  position: absolute;
  bottom: -85%;
  animation: wave6 20s infinite;
  animation-timing-function: linear;
}
@keyframes wave6 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1920px 0;
  }
}

.side2 {
  position: fixed;
  right: 8%;
  top: 82%;
  z-index: 998;
}
.side2 div {
  border-radius: 50%;
  background-color: #45286a;
  color: #00aeb7;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side2 div figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.side2 div figure figcaption {
  font-size: 25px;
  font-weight: 700;
}

footer {
  background-color: #00aeb7;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 40px;
}
footer p {
  margin-right: 50px;
}
footer div {
  padding-right: 35px;
}
footer figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer figure a:nth-of-type(1) {
  margin-right: 15px;
}
footer figure a:nth-of-type(1) #face {
  width: 100%;
}
footer figure a:nth-of-type(2) #insta {
  width: 100%;
}

@media (width <= 1280px) {
  header {
    width: 100%;
    position: absolute;
    color: white;
    z-index: 10;
    margin-top: 10px;
  }
  header .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    margin: 0 2%;
  }
  header .head .head1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
    margin-top: 5px;
  }
  header .head .head1 a:nth-of-type(1) img {
    width: 60px;
  }
  header .head .head1 a:nth-of-type(2) img {
    width: 65px;
  }
  header .head nav {
    width: 63%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
  }
  header .head nav a {
    color: white;
  }
  header .head div {
    display: flex;
    align-items: center;
  }
  header .head div div {
    display: block;
  }
  main .s02 p {
    font-size: 22px;
  }
  main .s03 h2 {
    font-size: 22px;
  }
  main .s03 ul #li_1 figure {
    width: 110px;
  }
  main .s03 ul #li_2 figure {
    width: 110px;
  }
}
@media (width <= 768px) {
  main .s01 {
    height: 300px;
  }
  main .s01 div {
    padding-top: 100px;
  }
  main .s01 div p:nth-of-type(1) {
    font-size: 18px;
  }
  main .s01 div p:nth-of-type(2) {
    font-size: 30px;
  }
  main .s01 .wave1 {
    top: 30%;
    height: 120px;
  }
  main .s02 p {
    font-size: 20px;
  }
  main .s03 h2 {
    padding-left: 11%;
    padding-top: 20px;
    font-size: 20px;
  }
  main .s03 ul li {
    display: block;
    font-size: 14px;
  }
  main .s03 ul #li_1 figure {
    width: auto;
    flex-direction: row;
  }
  main .s03 ul #li_1 figure img {
    width: 40px;
  }
  main .s03 ul #li_1 figure figcaption {
    font-size: 16px;
    padding-left: 5px;
  }
  main .s03 ul #li_2 figure {
    width: auto;
    flex-direction: row;
  }
  main .s03 ul #li_2 figure img {
    width: 40px;
  }
  main .s03 ul #li_2 figure figcaption {
    font-size: 16px;
    padding-left: 5px;
  }
  main .s03 p {
    font-size: 18px;
  }
  main .s03 .wave2 {
    bottom: -65%;
  }
  footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  footer div {
    margin-top: 10px;
    font-size: 14px;
  }
  footer div div span:nth-of-type(2) {
    display: block;
  }
  footer figure a:nth-of-type(1) {
    position: absolute;
    right: 12%;
    top: 5%;
    width: 8%;
  }
  footer figure a:nth-of-type(2) {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 8%;
  }
}
@media (width <= 480px) {
  main .s02 p {
    font-size: 18px;
  }
  main .s03 h2 {
    font-size: 18px;
  }
  main .s03 p {
    font-size: 16px;
  }
  .side2 div {
    width: 50px;
    height: 50px;
  }
  .side2 div figure img {
    width: 15px;
  }
  .side2 div figure figcaption {
    font-size: 12px;
  }
}/*# sourceMappingURL=sub_1.css.map */